<footer class="it-footer" id="footer">
  <div class="it-footer-main">
    <div class="container">
      <div class="row">
        <div class="col-12 footer-items-wrapper logo-wrapper">
          <img class="ue-logo" src="https://comune.udine.it/extension/openpa_bootstrapitalia/design/bootstrapitalia2/images/assets/logo-eu/ita-IT.svg" 
               title="Finanziato dall'Unione Europea" alt="Finanziato dall'Unione Europea" width="178" height="56">
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3 footer-items-wrapper">
          <h3 class="footer-heading-title">Gabriel Jones</h3>
          <ul class="footer-list">
            <li><a href="https://gabrieljones.it">Gabriel Jones</a></li>
            <li><a href="https://culture.gabrieljones.it">Cultura | GJ</a></li>
            <li><a href="https://arenagiovani.it">ArenaGiovani</a></li>
            <li><a href="https://trasparenza.18f.it">Documenti e dati</a></li>
          </ul>
        </div>

        
        <div class="col-md-3 footer-items-wrapper">
          <h3 class="footer-heading-title">Altri Blogs</h3>
          <ul class="footer-list">
            <li><a href="https://onlygabbyme.substack.com">Onlygabbyme</a></li>
            <li><a href="https://culture.gabrieljones.it">ARS</a></li>
            <li><a href="#">Bibliotecando</a></li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-9 mt-md-4 footer-items-wrapper">
          <h3 class="footer-heading-title">Contatti</h3>
          <ul class="contact-list p-0 footer-info">
            <li><strong>Email:</strong> <a href="mailto:info@bibliotecando.it">info@bibliotecando.it</a></li>
            <li><strong>Email per le segnalazioni:</strong> <a href="mailto:segnalazioni@gabrieljones.it">segnalazioni@gabrieljones.it</a></li>
          </ul>
        </div>
        <div class="col-md-9 mt-md-4 footer-items-wrapper">
          <a href="https://18f.it/">Realizzato con tecnologie GJ 18F</a>
        </div>
      </div>
    </div>
  </div>
</footer>
