<section class="it-hero-wrapper it-dark it-overlay">
  <!-- - img-->
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
        <div class="img-wrapper"><img src="https://www.bibliotecando.it/post/il-codice-decimale-dewey-la-chiave-per-organizzare-la-conoscenza/whatsapp-image-2025-02-19-at-17.31.34.jpeg" title="Biblioteca" alt="Biblioteca"></div>
    </div>
  </div>
  <!-- - texts-->
  <div class="container">
    <div class="row">
        <div class="col-12">
          <div class="it-hero-text-wrapper bg-dark">
              <span class="it-category">#about</span>
              <h2>Benvenuti su Bibliotecando</h2>
              <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="/organizzazione/about/">Scopri sul progetto</a></div>
          </div>
        </div>
    </div>
  </div>
</section>
