<header class="it-header-wrapper it-shadow">
  <div class="it-header-slim-wrapper">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-none d-lg-block navbar-brand" href="https://gabrielmatteojones.link/">Gabriel "Matteo" Jones</a>
            <div class="nav-mobile">
              <nav aria-label="Navigazione secondaria">
                <a class="it-opener d-lg-none" data-bs-toggle="collapse" href="#menuC2" role="button" aria-expanded="false" aria-controls="menuC2">
                  <span>Gabriel "Matteo" Jones</span>
                  <svg class="icon" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
                </a>
                <div class="link-list-wrapper collapse" id="menuC2">
                  <ul class="link-list">
                    <li><a class="dropdown-item list-item" href="https://arenagiovani.it">Arena Giovani</a></li>
                    <li><a class="dropdown-item list-item" href="https://trasparenza.18f.it/">Trasparenza</a></li>
                  </ul>
                </div>
              </nav>
            </div>
<div class="it-header-slim-right-zone">
  <a id="login-btn" class="btn btn-primary btn-icon btn-full" href="/admin/" data-element="personal-area-login">
    <span class="rounded-icon" aria-hidden="true">
                  <svg class="icon" aria-hidden="true"><use href="https://www.bibliotecando.it/img/bibliotecando.svg"></use></svg>
    </span>
    <span id="welcome-message" class="d-none d-lg-block">Pagina di amministrazione</span>
  </a>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (user) {
          document.getElementById("welcome-message").textContent = "Benvenuto " + user.user_metadata.full_name;
        }
      });
    }
  });
</script>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper theme-light">
      <div class="container-xxl">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a href="/">
<svg xmlns="http://www.w3.org/2000/svg" class="logo" height="94px" viewBox="0 -960 960 960" width="94px" fill="#000"><path d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h480q33 0 56.5 23.5T800-800v640q0 33-23.5 56.5T720-80H240Zm0-80h480v-640h-80v280l-100-60-100 60v-280H240v640Zm0 0v-640 640Zm200-360 100-60 100 60-100-60-100 60Z"/></svg>                  <div class="it-brand-text">
                    <div class="it-brand-title"><b>Bibliotecando - FVG</b></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="it-header-navbar-wrapper">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <!--start nav-->
        <nav class="navbar navbar-expand-lg has-megamenu" aria-label="Navigazione principale">
          <button class="custom-navbar-toggler" type="button" aria-controls="nav0" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione" data-bs-toggle="navbarcollapsible" data-bs-target="#nav0">
            <svg class="icon bg-override"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-burger"></use></svg>
          </button>
          <div class="navbar-collapsable" id="nav0" style="display: none;">
            <div class="overlay" style="display: none;"></div>
            <div class="close-div">
              <button class="btn close-menu" type="button">
                <span class="visually-hidden">Nascondi la navigazione</span>
                <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-close-big"></use></svg>
              </button>
            </div>
            <div class="menu-wrapper">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/"><span>homepage</span></a></li>
                <li class="nav-item"><a class="nav-link" href="https://gabrieljones.it/bibliotecando/"><span>Sul Progetto (Link Esterno)</span></a></li>
                <li class="nav-item"><a class="nav-link" href="https://dashboard.bibliotecando.it/login/"><span>Dashboard utente</span></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
</header>
<script>
  document.getElementById('login-btn').addEventListener('click', function(event) {
  event.preventDefault(); // Impedisce l'azione di default (navigazione)
  if (window.netlifyIdentity) {
    netlifyIdentity.open(); // Apre il pop-up di login
  } else {
    console.log("Netlify Identity non è disponibile.");
  }
});

</script>
