{{ define "main" }}
 
 {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}
     <div class="container">
        <h1>Tutti i Post del Blog</h1>
        {{ range .Pages }}
        <div class="row mb-4">
            <div class="col-sm">
                <img src="{{ .Params.image }}" class="img-fluid rounded mx-auto d-block" alt="{{ .Title }}">
            </div>
            <div class="col-sm">
                <h2>{{ .Title }}</h2>
                <p>{{ .Summary }}</p>
                <a href="{{ .Permalink }}" class="btn btn-primary">Leggi di più</a>
            </div>
        </div>
        {{ end }}
    </div>

 {{ end }}
